.DS_Store

.env
.env.local
.env.*.local
.idea/
.vscode/
*.swp
*.log
*.tmp
reports/
.clj-kondo/
.cpcache/
.shadow-cljs/
.nrepl-port
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.parcel-cache/
.turbo/
