body {
  font-family: Menlo, monospace;
  font-size: 2.5rem; /* Adjust font size to be large */
  background: linear-gradient(to bottom, white, lightgray);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.horizontal-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Menlo, monospace;
  font-size: 2.5rem;
  /* background-color: #f5f5f5; */
  background-color: rgba(255, 255, 255, 0); /* White background with 50% transparency */

}
 
.content {
  padding: 2em;
  height: 0vmax;
  max-width: 600px;
  margin: 0 auto;
}

.image-container {
  display: grid; /* Use grid layout for flexibility */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid columns */
  gap: 2em;
}

.image-item {
  box-sizing: border-box;
  padding: 1em;
  margin-bottom: 2em;
  /* height: 92vh; */
}

.image-title-year {
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 0.8ex;
}

.image-title,
.image-dimensions,
.image-year {
  margin-right: 0.5em;
}

.image-item img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  user-drag: none;
}

.about-page {
 display: inline;
 padding: 1.2em;
 white-space: pre-wrap; /* Preserves white space and breaks lines */
}
.painted-background {
  background-image: url("/assets/images/background.jpg");

}
 
a {
  text-decoration: none;
  transition: box-shadow 0.5s ease-in-out;
 }
 
 a:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
 }
 
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 0;
  text-decoration: none;
}

