body {
  font-family: Menlo, monospace;
}

.image-container {
  width: 100%;
  max-width: 100%;
  height: auto;
}

ul.horizontal-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  ul.horizontal-list li.nav-item {
    margin-right: 20px; /* Adjust the spacing between list items as needed */
  }
  
  ul.horizontal-list li.nav-item:last-child {
    margin-right: 0; /* Remove the right margin from the last list item */
  }
  
  /* Style the links */
  ul.horizontal-list li.nav-item a {
    text-decoration: none;
    color: #333; /* Change the link color as needed */
    padding: 8px 12px; /* Add padding around the links */
  }
  
  /* Optional: Add hover effect */
  ul.horizontal-list li.nav-item a:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
  }
    

/* Ensure images take full width of the page */
.image-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-item {
    flex: 1 0 100%; /* Take full width */
  }
  
  /* Ensure images resize to fit the viewport */
  .image-item img {
    max-width: 100%; /* Ensure image doesn't exceed container width */
    height: auto; /* Maintain aspect ratio */
  }
  