{% extends "base.html" %}

{% block content %}
<div class="gallery">
    {% set_global paintings = load_data(path="paintings.json") %}
    {% for painting in paintings %}
        <div class="painting">
            <img src="{{ get_url(path='paintings/' ~ painting.filename) }}" alt="{{ painting.title }}" loading="lazy" />
            <div class="info">
                <div class="title">{{ painting.title }}</div>
                <div class="year">{{ painting.year }}</div>
                <div class="dimensions">{{ painting.dimensions }}</div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}